.customerHeader{
    width: 70% !important;
    height: 100% !important;
    max-width: 120rem !important;
    padding-bottom:52px !important; 
}
.matchTitle{
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.875rem;
    margin-left: 10px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.matchTitleShade{
    background-color: rgb(243, 243, 243)
}


.matchContent{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 0.5rem;
    
}
.display-seller-id {
    display: block;
}

.hide-seller-id {
    display: none;
}